{
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 2018
  },
  "env": {
  "es6": true,
	"node": true,
	"mocha": true
  },
  "globals": {
    "process": true
  },
  "plugins": ["unicorn", "simple-import-sort", "promise", "node"],
  "extends": ["eslint:recommended", "airbnb-base"],
  "rules": {
    "comma-dangle": [1, "only-multiline"],
    "constructor-super": 2,
    "import/no-dynamic-require": "off",
    "indent": [4, "tab", { "SwitchCase": 1 }],
    "linebreak-style": [0, "unix"],
    "no-class-assign": 2,
    "no-confusing-arrow": 2,
    "no-console": 0,
    "no-const-assign": 2,
    "no-constant-condition": 2,
    "no-dynamic-require": "off",
    "no-dupe-class-members": 2,
    "no-tabs":"off",
    "no-template-curly-in-string": "error",
    "no-this-before-super": 2,
    "no-undef": 2,
    "no-unused-expressions": 2,
    "no-unused-vars": 2,
    "node/exports-style": "error",
    "node/prefer-global/buffer": "error",
    "node/prefer-global/url": "error",
    "object-shorthand": [2, "always"],
    "prefer-spread": 1,
    "prefer-template": 2,
    "promise/always-return": "error",
    "promise/avoid-new": "off",
    "promise/catch-or-return": "error",
    "promise/no-callback-in-promise": "warn",
    "promise/no-native": "off",
    "promise/no-nesting": "warn",
    "promise/no-new-statics": "error",
    "promise/no-promise-in-callback": "warn",
    "promise/no-return-in-finally": "warn",
    "promise/no-return-wrap": "error",
    "promise/param-names": "error",
    "promise/prefer-await-to-callbacks": "warn",
    "promise/prefer-await-to-then": "warn",
    "promise/valid-params": "warn",
    "quotes": [2, "single"],
    "require-yield": 2,
    "semi": [2, "always"],
    "simple-import-sort/sort": "error",
    "unicorn/catch-error-name": ["error", {"name": "e"}],
    "unicorn/no-abusive-eslint-disable": "error",
    "unicorn/no-array-instanceof": "error",
	"unicorn/no-new-buffer": "error",
	"spaced-comment": ["error", "always", { "markers": ["/"] }],
	"max-len": ["error", { "code": 130, "ignoreComments": true, "ignoreUrls": true, "ignoreStrings": true, "ignoreTemplateLiterals": true }],
	"object-curly-newline": ["error", {"consistent": true}],
	"no-use-before-define": ["error", { "functions": false, "classes": false, "variables": false }],
	"no-param-reassign": ["warn", { "props": true }],
	"no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
	"global-require": "off"
  }
}
