# General
.DS_Store

# Dependency directories
node_modules

# Coverage directory used by tools like istanbul
coverage

# Ignore IDE configuration files
.idea/
.vscode/
vscode-debug-nodejs-es6/
.editorconfig

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
telepresence.log

# Graphql2Rest output files
gql-output/

# Yarn Integrity file
.yarn-integrity

# CI configuration
.gitlab-ci.yml


# Whitesource files
.whitesource

### Windows template
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Ignore npm internal configuration files
.npmrc

# Ignore ignore files
.npmignore
.npmignore.swap
.gitignore
